<div class="container">
<h2>Temperature Monitor</h2>
<hr/>
</div>
<div class="container">
<div [hidden]="!exceedLimit">
  <h3>{{exceedLimitText}}</h3>
</div>
<div [hidden]="exceedLimit">
  <form #temperatureForm="ngForm">
    <div class="form-group">
      <label for="temperature_value">Add Temperature:</label>
      <input type="number"
             [(ngModel)]="temperature"
             class="form-control"
             id="temperature_value"
             name="temperature_value"
             placeholder="Add Temperature"
             #temperature_value = "ngModel"
             required>
      <div  class="alert alert-danger " *ngIf="temperature_value.errors && (temperature_value.dirty || temperature_value.touched)">
        <div [hidden]="!temperature_value.errors.required">Temperature is Required</div>
      </div>
    </div>
        <button type="submit" class="btn btn-success" [disabled]="!temperatureForm.valid" (click)="recordTemperature(temperature);temperatureForm.reset()">Add</button>
    <hr/>
    <div [hidden]="!currentValues"> Current Values of temperature are : {{tempList() | json}}</div>
  </form>
</div>
<hr/>
</div>
