<div class="container">
  <hr/>
  <div>
    Collection of temperatures length : {{tempListLength()}}
  </div>
  <hr/>
  <p><ngb-progressbar type="info" [value]="tempListLength()" [max]="8"> Collection of temperatures: <b> {{tempListLength()}} of 8</b>...</ngb-progressbar></p>
  <hr/>

  <h1>Temperature Monitor</h1>

  <div [hidden]="!exceedLimit">
    <h2>{{exceedLimitText}}</h2>
  </div>
  <div [hidden]="exceedLimit">
    <form>
      <label for="temperature">Add Temperature:</label>
      <input type="number" name="temperature" id="temperature" [(ngModel)]="temperature">
      <button (click)="recordTemperature(temperature)">Add</button>
    </form>
  </div>
  <hr/>
  <div>
    <div>
      <button (click)="getCurrentMedian()">Get Median Temperature</button>
    </div>
    <div>
      Current Median:
      <!-- display current media here-->
      {{currentMedian}}
    </div>
  </div>
  <hr>
</div>
